<div layout="row" layout-wrap>
      <md-input-container flex="33" style="padding-bottom: 2px">
            <label>{{appLang.dit}}{{deBlock}}</label>
            <input ng-model="deBlock" ng-disabled="morseData.morse_all" ng-change="exeCipher()"/>
      </md-input-container>
      <md-input-container flex="33" style="padding-bottom: 2px">
            <label>{{appLang.dah}}{{dahBlock}}</label>
            <input ng-model="dahBlock" ng-disabled="morseData.morse_all" ng-change="exeCipher()"/>
      </md-input-container>
      <md-input-container flex="33" style="padding-bottom: 2px">
            <label>{{appLang.spacing}}{{divBlock}}</label>
            <input ng-model="divBlock" ng-disabled="morseData.morse_all" ng-change="exeCipher()"/>
      </md-input-container>
</div>
      <md-switch md-no-ink class="md-primary" ng-disabled="morseData.morse_all" ng-model="morseData.morse_convert" aria-label="{{ appLang.morse}}" ng-change="exeCipher()">
            <span ng-if="morseData.morse_convert"> {{ appLang.charToMorse }}</span>
            <span ng-if="!morseData.morse_convert">{{ appLang.morseToChar }}</span>
      </md-switch>