<div layout="row" layout-wrap>
  <div flex="20" ng-repeat="alp in alpha" layout="row" layout-align="center center">
    <md-button flex class="md-icon-button md-primary" style="font-family:PigpenRegular; font-size: 20px" ng-click="addPigpenToCB(alp)">{{alp}}</md-button>
  </div>
</div>

  <md-divider></md-divider>
  <md-content style="word-wrap: break-word; font-family:PigpenRegular;line-height: 20px;white-space: pre-line;">{{ appDataFields.ReferenceBlock }}</md-content>
<p  style="word-wrap: break-word; font-family:PigpenRegular;line-height: 20px;white-space: pre-line;">asdsadsadqwerefrwf</p>