<div layout="row" layout-wrap>
    <div style="margin:0; padding: 6px" flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
        <md-card>
            <img src="img/themechange1.png" class="carouselImage" alt="Change Theme">
            <md-card-content>
                <h2 class="md-title">{{$root.appLang.themeselecttitle}}</h2>
                <div ng-bind-html="$root.appLang.themeselecttext">
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button ng-click="$root.changeTheme('pink')">{{$root.appLang.pink}}</md-button>
                <md-button ng-click="$root.changeTheme('indigo')">{{$root.appLang.indigo}}</md-button>
                <md-button ng-click="$root.changeTheme('purple')">{{$root.appLang.purple}}</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div style="margin:0; padding: 6px" flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
        <md-card>
            <img src="img/layoutswitchbanner.png" class="carouselImage" alt="Go Big or Go Home">

            <md-card-content>
                <h2 class="md-title">{{$root.appLang.goBigTitle}}</h2>
                <div ng-bind-html="$root.appLang.goBigText">
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button ng-click="goToPage('mo.welcome')">{{$root.appLang.foldStyle}}</md-button>
                <md-button ng-click="goToPage('pc.welcome')">{{$root.appLang.flatStyle}}</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div style="margin:0; padding: 6px" flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
        <md-card>
            <img src="img/xixbanner6.png" class="carouselImage" alt="X-I-X Banner">

            <md-card-content>
                <h2 class="md-title">X-I-X.COM</h2>
                <div ng-bind-html="$root.appLang.xixbannertext">
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button class="md-primary" ng-click="goToXIXSite()">{{$root.appLang.goToXIX}}</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div style="margin:0; padding: 6px" flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
        <md-card>
            <img src="img/privacybanner2.png" class="carouselImage" alt="Privacy Policy">
            <md-card-content>
                <h2 class="md-title">{{$root.appLang.privacyPolicyTitle}}</h2>
                <div ng-bind-html="$root.appLang.privacyPolicyText">
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button ng-click="goToPrivacyPolicy()">{{$root.appLang.link}}</md-button>
            </md-card-actions>
        </md-card>
    </div>


<div flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
    <div flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
        <div flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
            <div flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
    <div flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
        <div flex-xs="100" flex-gt-xs="50" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25" flex-gt-xl="20">
        </div>