<p align="center">
	Privacy Policy
</p>
<p>
	Code Machine is an offline service that employs modern de/encryption algorisms to crack ciphers encoded in possible categories like Caesar, Rail Fence,
	Pigpen, playfair, DVORAK, SHA1, RSA and lots more. Our website, mobile properties, and related applications (collectively, our “Website”) are operated by
	ZSM Media Group owned by Mingyao Liu. More details about Code Machine can be found below under “How you can contact us”.
</p>
<p>
	We do not require or collect any of your personal information when using our services. The only information that might be exposed is your submitted
	ciphers. We understand that providing information involves a great deal of trust on your part. We take this trust very seriously, and make it a high
	priority to ensure the security and confidentiality of the information you provide to us when you visit our Website or use our services. Before submitting
	your information to us, please read this Policy carefully to learn about our privacy practices. By visiting Code Machine’s website, x-i-x.com, or using a
	Code Machine application (an “Application” or “App”) on a mobile phone, tablet, or similar device (a “Device”) or in connection with other sites or
	services, you are accepting the practices described herein.
</p>
<h3>
	What information we collect from you
</h3>
<h4>
	In General
</h4>
<p>
	We will not receive and store any information you enter on our Code Machine or give us in any ways. This information includes your entered cipher texts and
	the corresponding decrypted texts. There’s no personal information, registration or membership as prerequisites to use the services of Code Machine.
</p>
<h4>
	Information About Others
</h4>
<p>
	We will not provide any of your entered information to a third party in any purpose.
</p>
<h4>
	Automatic Information.
</h4>
<p>
	We not automatically collect information when you visit Code Machine from your Device. But we might record automatic information when you visit our Website
	from your computer. Such information might include IP address, Cookies and Sessions. These information would not be used by Code Machine to serve any
	business purposes.
</p>
<h4>
	Payment Information
</h4>
<p>
	Code Machine do not charge any service fees. No payment information will be required to submit.<a name="loc"></a><a name="cook"></a><a name="adv"></a>
</p>
<h3>
</h3>
<h3>
	<a name="prot"></a>
	How we protect your information
</h3>
<p>
	We want you to feel confident about using Code Machine, and we are committed to protecting the information you provided. While no website can guarantee
	security, we have implemented appropriate administrative, technical, and physical security procedures to help protect the information you provide to us.
</p>
<h3>
	<a name="kids"></a>
	Children's privacy
</h3>
<p>
	Code Machine is a general audience site and does not offer services directed to children. Should an individual whom we know to be a child under age 13 send
	personal information to us, we will delete or destroy such information as soon as reasonably possible.
</p>
<h3>
	<a name="exte"></a>
	External links
</h3>
<p>
	We do not offer any external links while using Code Machine.
</p>
<h3>
	<a name="visit"></a>
	Visiting our Website from outside the United States
</h3>
<p>
	If you are visiting our Website from outside the United States, please be aware that your information may be transferred to, stored, and processed in the
	United States where our servers are located and our central database is operated. The data protection and other laws of the United States and other
	countries might not be as comprehensive as those in your country, but please be assured that Code Machine does take steps pursuant to laws in the United
	States to ensure that your privacy is protected.
</p>
<h3>
	<a name="calif"></a>
	<a name="chgs"></a>
	Changes to this Privacy Policy
</h3>
<p>
	Code Machine may change or modify this Privacy Policy in the future. We will note the date that revisions were last made to this Privacy Policy at the
	bottom of this page, and any revisions will take effect upon posting. We will notify our members of material changes to this Privacy Policy by either
	sending a notice to the email address you provided to us or by placing a notice on our Website. We encourage you to check this Privacy Policy from time to
	time to review the most current version.
</p>
<h3>
	<a name="cont"></a>
	How you can contact us
</h3>
<p>
	If you have questions about this Privacy Policy, please contact us at:
</p>
<p>
	ZSM Media Group, Mingyao Liu
</p>
<p>
	227 The Lion's Gate
</p>
<p>
	Waterloo, ON
</p>
<p>
	N2L 6M6
</p>
<p>
	Canada
</p>
<p>
	226-7508200
</p>
<p>
	zodiacsoulmate@gmail.com
</p>
<h4>
	<a name="call"></a>
</h4>
<h4>
	Call Recording and Monitoring.
</h4>
<p>
	Please be aware that calls to and from ZSM Media Group may be recorded. We may use the call recordings to monitor our customer service for quality or
	compliance purposes, to check the accuracy of the information you provide us, for fraud prevention purposes, or to provide training to our staff. We will
	retain the call recordings for as long as reasonably necessary to perform such activities and then delete them. Any personal information obtained from you
	during the call will be treated in accordance with the provisions of this Privacy Policy.
</p>
<p>
	©2015 ZSM Media Group. All rights reserved.
</p>
<p align="center">
	隐私政策
</p>
<p>
	密码机器（Code
	Machine）是一种线下应用软件类服务。它利用现代加密/解密算法技术，对各类加密方式下的密码文字进行破解。加密方式包括凯撒，栅栏，猪圈，栅栏，德沃夏克，SHA1，RSA，及其更多。我们的网站以及相关的应用程序（统称为我们的“网站”）是由ZSM传媒集团运营，由刘明尧先生拥有。有关运营公司更多的细节可以在下面的“你可以如何联系我们”中找到。
</p>
<p>
	您在使用Code Machine时，我们不会要求您提供任何个人信息。我们也不会收集您在使用Code
	Machine时输入提供的任何信息，如密码文字，以及解密后文字。我们了解，您提供的信对我们来说是一个极大的信任。我们对您的这种信任非常重视，并确保您所提供给我们的信息的安全和保密。您可以通过手机，平板电脑或类似的设备上访问Code Machine的网站，xix.com，或使用Code
	Machine的应用程序app。当您访问我们的网站或使用我们的服务时，请仔细阅读本政策，了解我们的隐私惯例。一旦使用，表示您接受此隐私政策的内容。
</p>
<p>
	<strong>我们从您那里收集哪些信息</strong>
	<strong></strong>
</p>
<p>
	概述
</p>
<p>
	我们不会要求您提供任何个人信息。我们也不会收集您在Code Machine中输入和储存的任何信息，如密码文字，以及解密后文字。我们不会要求您在使用Code Machine之前需要提供个人信息，注册成为会员等任何先决条件。
</p>
<p>
	自动信息
</p>
<p>
	当您从您的设备访问Code Machine 时，我们不会自动收集信息。但是，当你从你的电脑访问我们的网站，我们可能会自动记录信息。这些信息可能包括IP地址，cookie和会话。这些信息不会被用于任何商业目的。
</p>
<p>
	关于第三方
</p>
<p>
	我们将不会以任何目的，向第三方提供您的输入任何的信息。ZSM传媒集团成员可能会获取自动缓存信息，但仅会用于客户管理及网络协调。
</p>
<p>
	付款信息
</p>
<p>
	码机不收取任何服务费用。您将无需提供支付信息。
</p>
<p>
	<strong>我们如何保护您的信息</strong>
	<strong></strong>
</p>
<p>
	我们希望您能放心地使用码机。我们将致力于保护您提供的信息。虽然没有任何网站可以保证绝对的信息安全，但我们已实施相应的管理，技术和物理安全程序，以帮助保护您提供给我们的信息。
</p>
<p>
	<strong>儿童隐私</strong>
	<strong></strong>
</p>
<p>
	Code Machine是一个面向普通观众的应用软件，不提供针对儿童的服务。我们知道是13岁以下儿童个人信息发送给我们，我们会删除或尽快破坏这些信息。
</p>
<p>
	<strong>外部链接</strong>
	<strong></strong>
</p>
<p>
	Code Machine不提供任何外部链接。
</p>
<p align="left">
	<strong>从美国以外地区访问我们网站</strong>
	<strong></strong>
</p>
<p align="left">
	如果您从中国大陆以外地区访问我们网站，请您注意：您的信息可能被传送至、储存于中国大陆，并且在中国大陆进行处理，这是因为我们的服务器以及数据中心均位于中国大陆。中国及其他国家的数据保护以及其他法律可能未必如你所在国家相关法律那样健全，但是请相信我们将采取措施保护您的信息。
</p>
<p>
	来自美国以外的国家访问我们的网站
</p>
<p>
	如果您从美国以外的地区访问我们的网站，请注意，您的信息可能被转移，存储，处理至美国。这是因为我们的服务器以及数据中心均位于美国。美国以及其他国家的数据保护以及其他法律可能未必如你所在国家相关法律那样健全，但是请相信我们将采取措施保护您的信息。
</p>
<p>
	<strong>更改本隐私政策</strong>
	<strong></strong>
</p>
<p>
	在未来Code Machine 可能会更新或修改本隐私政策。我们将在本页面底部标注本隐私政策最近修改的日期，修改将于发布时生效。我们将会通过向您提供给我们的电子邮箱发送通知或者在本网站上发布显著公告的方式将主要的修改内容告知于您。务必定期回访本隐私政策，以审阅最新版本。
</p>
<p>
	<strong>您可以如果联系我们</strong>
	<strong></strong>
</p>
<p>
	如果您对本隐私政策有疑问，请与我们联系：
</p>
<p>
	ZSM传媒集团，刘明尧
</p>
<p>
	227 The Lion's Gate
</p>
<p>
	Waterloo, ON
</p>
<p>
	N2L 6M6
</p>
<p>
	Canada
</p>
<p>
	226-7508200
</p>
<p>
	<a href="mailto:zodiacsoulmate@gmail.com">zodiacsoulmate@gmail.com</a>
</p>
<p>
	电话录音
</p>
<p>
	请注意，接听和拨打本网站的电话可能会被录音。我们可能会使用通话录音来监控我们的客户服务质量或达成合规目的，检查您所提供的信息的准确性以防止欺诈，或为了我们内部工作人员的培训目的。通话录音的保存期限将是进行上述活动所合理必需的时间期，之后我们会将其删除。对于在通话过程中获得的有关您的任何个人信息，我们将按照本隐私政策予以处理。
</p>
<p>
	©2015 ZSM传媒集团。保留全部权利。
</p>
